<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         testdox="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">tests/Integration</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">tests/Feature</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <file>pninc/escape.inc.php</file>
      <file>pninc/validation.inc.php</file>
      <file>pninc/functions.inc.php</file>
      <file>pnadmin/dto.inc.php</file>
      <file>pnadmin/functions.inc.php</file>
    </include>
  </source>
  <php>
    <env name="PN_DB_HOST" value="db"/>
    <env name="PN_DB_PORT" value="3306"/>
    <env name="PN_DB_USER" value="powernews"/>
    <env name="PN_DB_PASS" value="powernews"/>
    <env name="PN_DB_NAME" value="powernews"/>
  </php>
</phpunit>
